*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SELETORES */

body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 20px 30px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;

}
/* SHORTS CLASS */
.mb{margin-bottom: 20px;}

/* MAIN-CONTAINER */
.main-container{
    margin: auto;
    max-width: 800px;
    margin-top: 10px;
    border: solid 1px green; 
    padding: 10px;
}

/* HEADER */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.picture{
    max-height: 200px;
    border-radius: 50%;
    border: 5px solid green;
}
.information{
    text-align: center;
}
.name{
    font-size: 3rem;
    text-transform: uppercase;
}
.profission{
    font-size: 2rem;
    text-transform: uppercase;
}

/* MAIN */
section{
    margin-top: 15px;
    border: 1px solid green;
}
.title-section{
    text-align: center;
    margin-bottom: 10px;
}
.about{
    padding: 20px;
    text-align: justify;
}
.skills{
    padding: 20px;
    text-align: center;
}
.contacts{
    text-align: center;
    padding: 20px;
}
/* CLASSES DE PERSONALIZAÇÃO */

/* skills */
.html{
    background: linear-gradient(to bottom, darkred, red); 
    color: white;
}
.css{
    background: linear-gradient(to bottom, darkblue, lightblue); 
    color: oldlace;
}
.js{
    background: linear-gradient(to bottom, orange, yellow);
    color: darkgreen;
}

/* contacts */
.whats{
    color: white;
    background: linear-gradient(to bottom, rgb(0, 87, 0), rgb(0, 158, 0))
}
.insta{
    color: white;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
}
.email{
    color: white;
    background: linear-gradient(to bottom, darkred, red);
}
