
/* Seletores */
body{
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to top, green, black);
}
h2{
    color: green;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
abbr{
    text-decoration: none;
    color:orange;
}
abbr:hover{
    color:green;
    cursor: context-menu;
}
ul{
    list-style-type: square;
}
li{
    font-size: 20px;
    text-transform: uppercase;
}

/* Classes */

/* MAIN */
.main{
    width: 500px;
    height: auto;
    background-color: beige;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 8px solid lightgreen;
    border-radius: 10px;
}

/* TITTLE */
.tittle{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.tittle > h1{
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(7, 59, 7);
}
.tittle > h2{
    margin-top: -25px;
    font-size: 1.5em;
    
}

/* IMG */
.img{
    width: 200px;
    height: 200px;
    background-image: url("https://scontent-for1-1.xx.fbcdn.net/v/t1.6435-9/89865690_1219160264953965_5706901849978699776_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHkgR2V--0Rro1DIm-4MlfKsPvn7ZX3kKiw--ftlfeQqCL7DIBgl2AWjsVcMuhkCiJ25Cs7hk2tlyjC9HEdmd6X&_nc_ohc=3xd-uI2wNg0AX9Gcj9a&_nc_ht=scontent-for1-1.xx&oh=00_AT_10JNd_3qCSUO6higwrdPhX0myCjCD5lGS6ZhF08ALkQ&oe=620D771E");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid green;
    margin: auto;
}

/* ABOUT */
.about{
    margin-bottom: 80px;
}
.about > p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid green;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 8px;
    text-align: justify;
}

/* SOFT SKILLS */
.skills{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 80px;
    color:green;
}

/* FOLLOW */
.follow{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.follow > .links {
    box-sizing: border-box;
    padding: 5px;
}
.links{
    text-align: center;
}
.link{
    font-family: monospace;
    text-decoration: none;
    margin: 3px;
    background-color: greenyellow;
    padding: 8px 10px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}

/* BOTÕES DE ESTILO */
.facebook{
    color: white;
    background-color: rgb(0, 0, 255);
    border-color: rgb(3, 3, 80);
}
.facebook:hover{
    background-color: rgba(0, 0, 255, 0.8);
}

.github{
    color: rgb(228, 228, 228);
    background-color: rgb(255, 166, 0);
    border-color: rgb(122, 90, 8);
}
.github:hover{
    background-color: rgba(255, 166, 0, 0.8);
}

.email{
    color: rgb(228, 228, 228);
    background-color: rgb(255, 0, 0);
    border-color: darkred;
}
.email:hover{
    background-color: rgba(255, 0, 0, 0.8);
}